terraform {
  backend "azurerm" {
    storage_account_name = "stobj61788899506"
    container_name       = "tfstate"
    key                  = "objective-6.tfstate"
    use_azuread_auth      = true
  }
}
